@use '../helpers/' as *;

.rating-view {
    display: inline-flex;
    column-gap: rem(7);
    justify-content: center;
    padding: rem(10) rem(16);
    border: var(--border);
    border-radius: rem(100);
    background-color: var(--color-dark);
    
    @include laptop {
        column-gap: rem(4);
        padding: rem(8) rem(12);
    }
    
    &__star {
        --size: #{rem(24)};
        
        @include square(var(--size));

        background: url(../../images/reviews/22.svg) center/contain no-repeat;
        
        &.is-active {
            background-image: url(../../images/reviews/Shape.svg);
        }
        
        
        @include laptop {
            --size:#{rem(20)};
        }
    }
    
}